@model Degrees1400.Models.Email

@{
    ViewBag.Title = "Index";
    Layout = null;

    var scrollPositionX = string.Empty;
    if (IsPost)
    {
        scrollPositionX = Request.Form["ScrollPositionX"];
    }    
}

@functions {
    
    public MvcHtmlString ModelErrorClass(string fieldName)
    {
        var modelState = ViewContext.ViewData.ModelState;
        
        if(modelState != null && !modelState.IsValid)
        {
            var state = modelState[fieldName];
            if(state != null && state.Errors.Count > 0)
                return new MvcHtmlString("data-validation-error='true'");
        }

        return new MvcHtmlString("");
    }

}

<!doctype html>
<html class="no-js">
<head>
<title>Online Quarterly Subscription and Gift Services from Quarterly Co.</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="qccore.css">
<!--[if IE 8]>
<style type="text/css">
#hero article#overlay h1{background-color:#BBBBBB;}
.da-slide .da-link{color:#000000;}
</style>
<![endif]-->
<script src="modernizr.custom.63285.js"></script>
</head>
<body>

<section id="logo">
	<article onClick="window.location.href = 'http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&c=20&mc=click&pli=9424527&PluID=0&ord=[timestamp]';">
		<a href="http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&c=20&mc=click&pli=9424527&PluID=0&ord=[timestamp]" class="qclogo"><img src="images/qclogo2.png" alt="Quarterly Co."></a>
	</article>
</section>

<section id="hero">
	<article id="da-slider" class="da-slider">

<div class="da-slide slide1">
<div class="overlay">
</div>
<a href="http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&amp;c=20&amp;mc=click&amp;pli=9424511&amp;PluID=0&amp;ord=[timestamp]" class="da-link">Uprise Art</a>
</div>
<div class="da-slide slide2">
<div class="overlay">
</div>
<a href="http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&amp;c=20&amp;mc=click&amp;pli=9424512&amp;PluID=0&amp;ord=[timestamp]" class="da-link">Wander</a>
</div>
<div class="da-slide slide3">
<div class="overlay">
</div>
<a href="http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&amp;c=20&amp;mc=click&amp;pli=9424519&amp;PluID=0&amp;ord=[timestamp]" class="da-link">Alexis Ohanian</a>
</div>

	</article>
	<article id="overlay">
		<h1>Curated packages from people you care about</h1>
		<a href="http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&c=20&mc=click&pli=9424527&PluID=0&ord=[timestamp]">Select a Curator</a>
	</article>
</section>

<section id="collection">
	<article>
		<h2>Who do you want to subscribe to?</h2>

<ul class="cameos">
<li class="cameo cameo1">
<a href="http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&amp;c=20&amp;mc=click&amp;pli=9424510&amp;PluID=0&amp;ord=[timestamp]">
<span class="medallion"></span>
<span class="title">Kalani</span>
<span class="subtitle">Wellness Retreat, Cultural Center</span>
</a>
</li>
<li class="cameo cameo2">
<a href="http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&amp;c=20&amp;mc=click&amp;pli=9424513&amp;PluID=0&amp;ord=[timestamp]">
<span class="medallion"></span>
<span class="title">Heather Armstrong</span>
<span class="subtitle">Dooce</span>
</a>
</li>
<li class="cameo cameo3">
<a href="http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&amp;c=20&amp;mc=click&amp;pli=9424514&amp;PluID=0&amp;ord=[timestamp]">
<span class="medallion"></span>
<span class="title">Sean Bonner</span>
<span class="subtitle">Misanthropologist</span>
</a>
</li>
<li class="cameo cameo4">
<a href="http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&amp;c=20&amp;mc=click&amp;pli=9424515&amp;PluID=0&amp;ord=[timestamp]">
<span class="medallion"></span>
<span class="title">Mark Frauenfelder</span>
<span class="subtitle">Boing Boing, MAKE</span>
</a>
</li>
<li class="cameo cameo5">
<a href="http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&amp;c=20&amp;mc=click&amp;pli=9424516&amp;PluID=0&amp;ord=[timestamp]">
<span class="medallion"></span>
<span class="title">Chris Guillebeau</span>
<span class="subtitle">The Art of Non-Conformity</span>
</a>
</li>
<li class="cameo cameo6">
<a href="http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&amp;c=20&amp;mc=click&amp;pli=9424518&amp;PluID=0&amp;ord=[timestamp]">
<span class="medallion"></span>
<span class="title">Dean Karnazes</span>
<span class="subtitle">Ultra-Marathoner, Endurance Athlete</span>
</a>
</li>
</ul>

	</article>
</section>

<section id="howitworks">
	<article>
		<h2>How it works</h2>
<div class="theworks">
	<a class="partone" href="http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&c=20&mc=click&pli=9424527&PluID=0&ord=[timestamp]">
		<div class="cards-idle idle"></div>
		<div class="cards-hover active"></div>
		<hr>
		<p>You choose your favorite<br>cultural icons</p>
	</a>

	<div class="arrow-flow"></div>

	<a class="parttwo" href="http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&c=20&mc=click&pli=9424527&PluID=0&ord=[timestamp]">
		<div class="assemblage-star"></div>
		<div class="assemblage-tube"></div>
		<div class="assemblage-ball"></div>
		<div class="assemblage-book"></div>
		<div class="assemblage-hand"></div>
		<hr>
		<p>They curate<br>unique boxes</p>
	</a>

	<div class="arrow-flow"></div>

	<a class="partthree" href="http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&c=20&mc=click&pli=9424527&PluID=0&ord=[timestamp]">
		<div class="package-idle idle"></div>
		<div class="package-hover active"></div>
		<hr>
		<p>You receive handpicked<br>cool stuff</p>
	</a>
</div>
	</article>
</section>

<section id="signup">
	<article>
		<h2>Sign up</h2>
		<p>Quarterly is a subscription service that lets people receive physical items in the mail from influential curators of their choice. It's a new way to connect with people you find interesting. <strong>Enter your email address for the latest curators &amp; special offers.</strong></p>
        @using(Html.BeginForm())
        {
            <input type="hidden" id="ScrollPositionX" name="ScrollPositionX" value="@scrollPositionX" />            
	        <input type="text" placeholder="ENTER EMAIL" id="Address" name="Address" value="@Model.Address" @ModelErrorClass("Address") />
            <input type="submit" value="I'm in" id="Submit" />        
        }
	</article>
</section>

<section id="footer">
	<nav>
		<ul>
			<li><a href="http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&c=20&mc=click&pli=9542527&PluID=0&ord=[timestamp]">About</a></li>
			<li><a href="privacy.html">Privacy</a></li>
		</ul>
	</nav>
</section>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        document.write(unescape("%3Cscript src='jquery-1.7.1.min.js' type='text/javascript'%3E%3C/script%3E"));
    }
</script>
<script src="jquery.cslider.js"></script>
<script>
    $('#da-slider').cslider({
        autoplay: true,
        bgincrement: 450
    });

    $("#Submit").click(function () {
        $("#ScrollPositionX").val($(document).scrollTop());
    });

    $("#ScrollPositionX").each(function () {
        var val = parseInt($(this).val(), 10);
        if (!isNaN(val))
            $(document).scrollTop(val);
    });
</script>
<script>
    $("#signup article input[data-validation-error=true]").after('<span class="exc">!</span>');
</script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setSiteSpeedSampleRate', 100]);
    _gaq.push(['_setAccount', 'UA-49323129-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>
