@model Degrees1400.Models.Email

@{
    ViewBag.Title = "Index";
    Layout = null;

    var scrollPositionX = string.Empty;
    if (IsPost)
    {
        scrollPositionX = Request.Form["ScrollPositionX"];
    }    
}

@functions {
    
    public MvcHtmlString ModelErrorClass(string fieldName)
    {
        var modelState = ViewContext.ViewData.ModelState;
        
        if(modelState != null && !modelState.IsValid)
        {
            var state = modelState[fieldName];
            if(state != null && state.Errors.Count > 0)
                return new MvcHtmlString("data-validation-error='true'");
        }

        return new MvcHtmlString("");
    }

}


<!doctype html>
<html class="no-js">
<head>
<title>Online Quarterly Subscription and Gift Services from Quarterly Co.</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="qccore.css">
<link rel="stylesheet" href="animation.css">
<script src="modernizr.custom.90667.js"></script>
</head>
<body>

<section id="logo">
	<article>
		<a href="https://quarterly.co/products" class="qclogo"><img src="images/qclogo2.png" alt="Quarterly Co."></a>
	</article>
</section>

<section id="hero">
	<article id="da-slider" class="da-slider">
		<div class="da-slide slide1">
			<div class="overlay"></div>
			<a href="#" class="da-link">Michelle Stern</a>
		</div>
		<div class="da-slide slide2">
			<div class="overlay"></div>
			<a href="#" class="da-link">Scotty Terrell</a>
		</div>
		<div class="da-slide slide3">
			<div class="overlay"></div>
			<a href="#" class="da-link">Andy Schubert</a>
		</div>
	</article>
	<article id="overlay">
		<h1>Curated packages from people you care about</h1>
		<a href="https://quarterly.co/products">Select a Curator</a>
	</article>
</section>

<section id="collection">
	<article>
		<h2>Who do you want to subscribe to?</h2>

<ul class="cameos">
</ul>

	</article>
</section>

<section id="howitworks">
	<article>
		<h2>How it works</h2>
<div class="theworks">
<a class="partone" href="https://quarterly.co/products">
<img src="images/cards-idle.png" class="idle" alt="Cards-idle">
<img src="images/cards-hover.png" class="active" alt="Cards-hover">
<hr>
<p>You choose your favorite<br>cultural icons</p>
</a>

<div class="arrowleft"></div>

<a class="parttwo" href="https://quarterly.co/products">
<img src="images/assemblage-star.png" class="star" alt="Assemblage-star">
<img src="images/assemblage-tube.png" class="tube" alt="Assemblage-tube">
<img src="images/assemblage-ball.png" class="ball" alt="Assemblage-ball">
<img src="images/assemblage-book.png" class="book" alt="Assemblage-book">
<img src="images/assemblage-hand.png" class="hand" alt="Assemblage-hand">
<hr>
<p>They curate<br>unique boxes</p>
</a>

<div class="arrowright"></div>

<a class="partthree" href="https://quarterly.co/products">
<img src="images/package-idle.png" class="idle" alt="Package-idle">
<img src="images/package-hover.png" class="active" alt="Package-hover">
<hr>
<p>You receive handpicked<br>cool stuff</p>
</a>

</div>


	</article>
</section>

<section id="signup">
	<article>
		<h2>Sign up</h2>
		<p>Quarterly is a subscription service that lets people receive physical items in the mail from influential curators of their choice. It's a new way to connect with people you find interesting. <strong>Enter your email address for the latest curators &amp; special offers.</strong></p>
        @using(Html.BeginForm())
        {
            <input type="hidden" id="ScrollPositionX" name="ScrollPositionX" value="@scrollPositionX" />            
	        <input type="text" placeholder="ENTER EMAIL" id="Address" name="Address" value="@Model.Address" @ModelErrorClass("Address") />
            <input type="submit" value="I'm in" id="Submit" />        
        }
	</article>
</section>

<section id="footer">
	<nav>
		<ul>
			<li><a href="https://quarterly.co/about">About</a></li>
			<li><a href="privacy.html">Privacy</a></li>
		</ul>
	</nav>
</section>
<style class="addons"></style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script>
if (typeof jQuery == 'undefined') {
    document.write(unescape("%3Cscript src='jquery-2.0.3.min.js' %3E%3C/script%3E"));
}
</script>
<script src="jquery.cslider.js"></script>
<script>
$.getJSON('qcdata.json', function(data) {

var mystyles = '';
var myheros = '';
var mycameos = '';
var ncount = 0;

	$(data.curators).each(function() {

		if(this.type == "hero"){
			ncount++;
			mystyles += '.slide'+ncount+' {background-image:url('+ this.image +');}\n';

			myheros += '<div class="da-slide slide'+ncount+'">';
			myheros += '<div class="overlay"></div>';
			myheros += '<a href="'+ this.targeturl +'" class="da-link">'+ this.curatorname +'</a>';
			myheros += '</div>';

		}
		else if(this.type == "cameo"){

			mycameos += '<li>';
			mycameos += '<a href="'+ this.targeturl +'">';
			mycameos += '<img src="'+ this.image +'" alt="'+ this.title +'">';
			mycameos += '<span class="title">'+ this.curatorname +'</span>';
			mycameos += '<span class="subtitle">'+ this.curatortitle +'</span>';
			mycameos += '</a>';
			mycameos += '</li>';
	
		}

	});

	$(".addons").append(mystyles);
	$(".da-slider").html(myheros);	
	$(".cameos").append(mycameos);

	$('#da-slider').cslider({
		autoplay	: true,
		bgincrement	: 450
	});
	
	$("#Submit").click(function () {
	    $("#ScrollPositionX").val($(document).scrollTop());
	});

	$("#ScrollPositionX").each(function () {
	    var val = parseInt($(this).val(), 10);
	    if (!isNaN(val))
	        $(document).scrollTop(val);
	});
});
</script>
<script>

$( "#logo article" ).click(function() {
window.location.href = "https://quarterly.co/products";
});
</script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-49323129-1', 'quarterly.co');
ga('send', 'pageview');
</script>
<script>
    $("#signup article input[data-validation-error=true]").after('<span class="exc">!</span>');
</script>
</body>
</html>